@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;

  --color-primary: #6c25ff;
  --color-secondary: #6c25ff4b;
  --color-black: #1d2226;
  --color-white: #ffffff;
  --color-light-grey: #f7f8f9;
  --color-medium-grey: #cbcbcb;
  --color-grey: #919191;
}

body {
  font-family: var(--font-rubik);
}
